<!doctype html>

<html ng-app="myApp" lang="en" ng-cloak>
<head>
    <base href="/" />
    <link rel="icon" href="fav.ico">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <title>{{title}} | Bulgarian Food</title>
    <meta name="description" content="Bulgarian Food">
    <meta name="author" content="Kristian Karabeliov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/app.min.css" rel="stylesheet" />
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="css/toastr/toastr.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="https://www.parsecdn.com/js/parse-1.6.14.min.js"></script>
</head>

<body ng-cloak>
    <div class="{{style}}">
        <div id="container">
            <div id="slider">
                <div id="jssor_1" style="position: relative; margin: 0 auto; top: 0; left: 0; width: 1270px; height: 475px; overflow: hidden; visibility: hidden;">
                    <!-- Loading Screen -->
                    <div data-u="loading" style="position: absolute; top: 0; left: 0;">
                        <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0; left: 0; width: 100%; height: 100%;"></div>
                        <div style="position:absolute;display:block;background:url('css/img/slider/loading.gif') no-repeat center center;top:0;left:0;width:100%;height:100%;"></div>
                    </div>
                    <div data-u="slides" style="cursor: default; position: relative; top: 0; left: 0; width: 1300px; height: 500px; overflow: hidden;">
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="img/slider/slide-1.jpg" />
                            <div class="slider-title">Bulgarian Food</div>
                            <div class="slider-description">
                                Recipes are formed for centuries,
                                with traditions in flavoring and established methods and techniques for preparing,
                                presenting a fusion of European and Asian cuisine.
                            </div>
                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="img/slider/slide-2.jpg" />
                            <div class="slider-title">Drinks</div>
                            <div class="slider-description">Build your slider with anything, includes image, content, text, html, photo, picture</div>

                        </div>
                        <div data-p="225.00" style="display: none;">
                            <img data-u="image" src="img/slider/slide-3.jpg" />
                        </div>
                    </div>
                    <!-- Bullet Navigator -->
                    <div data-u="navigator" class="jssorb05" style="bottom:16px;right:16px;" data-autocenter="1">
                        <!-- bullet navigator item prototype -->
                        <div data-u="prototype" style="width:16px;height:16px;"></div>
                    </div>
                    <!-- Arrow Navigator -->
                    <span data-u="arrowleft" class="jssora22l" style="top:0;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
                    <span data-u="arrowright" class="jssora22r" style="top:0;right:12px;width:40px;height:58px;" data-autocenter="2"></span>
                </div>
                <div class="slide-top-shadow"></div>
                <div class="slide-bottom-shadow"></div>
                <div class="slide-bottom-shadow"></div>
            </div>

            <header id="header">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="/">
                                <img src="img/logo.png" alt="Logo" id="logo" />
                                <h1 id="company-name">Bulgarian Food</h1>
                            </a>
                        </div>
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/location">Location</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/menu">All</a></li>
                                        <li><a href="#">Breakfast menu</a></li>
                                        <li><a href="#">Lunch menu</a></li>
                                        <li><a href="#">Dinner menu</a></li>
                                    </ul>
                                </li>
                                <li><a href="/blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <div id="login-bar">
                    <div ng-show="currentUser">
                        <h2 class="panel-title">Welcome {{currentUser.get('fname') || currentUser.get('username')}}</h2>
                        <button class="btn btn-warning" ng-click="logOut()">Log out</button>
                    </div>
                </div>
                
                <div id="menu-bg"></div>
                <div class="category-name">
                    <h1 class="category-title">{{title}}</h1>
                    <p class="meta-info">Fusce nunc diam suscipit a iaculis ac tristique ac erat</p>
                </div>
            </header>

            <div class="breadcrumb">
                <div class="container clearfix">
                    <span id="breadcrumbs-text">
                        <a href="/">Home</a>
                        <span>»</span> {{title}}
                    </span>
                    <div id="search-form">
                        <input type="search" class="input-sm" placeholder="Search..." id="searchinput" ng-model="query">
                        <input type="submit" class="btn btn-success" value="Search">
                    </div>
                </div>
            </div>
            <div id="content" class="clearfix row" ng-view>

            </div>
            <!--<div id="top-shadow"></div>-->
            <footer id="footer">
                <!--<div id="bottom-shadow"></div>-->
                <nav class="nav navbar navbar-default" id="bottom-menu">
                    <div class="container-fluid">
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav">
                                <li class="active"><a href="/">Home</a></li>
                                <li><a href="/location">Location</a></li>
                                <li><a href="/menu">Menu</a></li>
                                <li><a href="/blog">Blog</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>

                <p id="copyright">
                    Designed by <a href="http://karabeliov.com/" title="Official website">Kristian Karabeliov</a>
                    | Powered by  <a href="http://telerikacademy.com/" title="Official website">Telerik Academy</a>
                </p>
            </footer>
        </div>
    </div>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular/angular-route.min.js"></script>
    <script src="lib/angular/angular-resource.min.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
    <script src="lib/toastr/toastr.min.js"></script>
    <script src="js/app.es5.min.js"></script>
    <script src="js/controllers/home-controller.js"></script>
    <script src="js/controllers/blog-controller.js"></script>
    <script src="js/controllers/sidebar-directive.js"></script>
    <script src="js/controllers/add-post-controller.js"></script>
    <script src="js/controllers/comment-controller.js"></script>
    <!--<script src="https://www.hostingreviews.website/google-maps-authorization.js?id=17859831-d186-d572-1ca0-4779d3ded10d&c=code-for-google-map&u=1453021684" defer="defer" async="async"></script>-->
    <script type="text/javascript" src="js/slider/jssor.slider.mini.js"></script>
    <script src="js/slider/loader.es5.min.js"></script>
    <script src="js/custom.es5.min.js"></script>
    <script src="js/common/notifier.js"></script>
</body>
</html>