@import url(reset.css);
body h1, body h2, body h3, body h4, body h5, body h6 {
  padding-bottom: 5px;
  letter-spacing: -1px;
  line-height: 1em;
  font-weight: normal; }

body {
  background-color: #f2f1e8;
  line-height: 18px;
  font-family: Georgia, serif;
  font-size: 12px;
  color: #716851; }
  body a {
    text-decoration: none;
    color: #5a863c; }
    body a:hover {
      text-decoration: underline; }
  body h1 {
    font-size: 30px; }
  body h2 {
    font-size: 24px; }
  body h3 {
    font-size: 22px; }
  body h4 {
    font-size: 18px; }
  body h5 {
    font-size: 16px; }
  body h6 {
    font-size: 14px; }
  body p {
    padding-bottom: 10px;
    line-height: 24px; }
  body .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  body #slider {
    display: none; }
  body #bottom-shadow {
    background: url(img/bottom-shadow.png) no-repeat;
    width: 960px;
    height: 9px;
    position: absolute;
    left: 11%;
    top: -5%; }
  body #features {
    text-align: left;
    margin: 0 auto;
    width: 960px;
    position: relative; }
    body #features #middle-block {
      width: 280px; }
      body #features #middle-block #gmaps-container {
        width: 270px;
        height: 170px; }
      body #features #middle-block span.hours_of_work {
        color: #cac6a1;
        font-style: normal;
        font-size: 14px;
        text-transform: uppercase; }
      body #features #middle-block span.work_hours_text {
        font-size: 14px;
        font-style: normal;
        color: #442917;
        margin: 0 8px 0 6px; }
    body #features #right-block {
      margin-right: 0; }
    body #features .box {
      float: left;
      width: 260px;
      margin-right: 80px;
      margin-bottom: 60px;
      font-family: Georgia, serif;
      color: #92907c; }
      body #features .box p {
        line-height: 21px;
        font-style: italic; }
      body #features .box h3.title {
        color: #cac6a1;
        font-size: 16px;
        text-transform: uppercase;
        padding-bottom: 13px;
        text-shadow: 1px 1px 1px #ffffff; }
      body #features .box h4.title {
        font-size: 22px;
        text-shadow: 1px 1px 1px #ffffff; }
        body #features .box h4.title a {
          text-decoration: none;
          color: #442917; }
      body #features .box .thumb {
        display: block;
        float: left;
        position: relative;
        margin-right: 22px; }
      body #features .box .item-image {
        margin-top: 6px;
        margin-left: 6px; }
      body #features .box span.overlay {
        background: url("img/frame.png") no-repeat;
        display: block;
        width: 69px;
        height: 69px;
        position: absolute;
        top: 0;
        left: 0; }
    body #features .testimonials-item {
      background: url(img/testimonials/testimonials-top.png) no-repeat;
      padding-top: 9px;
      width: 259px; }
      body #features .testimonials-item .thumb {
        display: block;
        float: left;
        position: relative;
        margin: 5px 21px 0 14px; }
      body #features .testimonials-item .item-image {
        margin-top: 6px;
        margin-left: 6px; }
      body #features .testimonials-item p.author {
        color: #442917;
        font-size: 22px;
        font-style: normal;
        padding-top: 12px;
        padding-bottom: 0;
        text-shadow: 1px 1px 1px #ffffff; }
      body #features .testimonials-item p {
        padding-right: 20px;
        padding-left: 20px; }
    body #features .testimonials-item-bottom {
      background: url(img/testimonials/testimonials-bottom.png) no-repeat left bottom;
      padding-bottom: 20px;
      width: 259px; }
    body #features .testimonials-item-content {
      background: url(img/testimonials/testimonials-content-bg.png) repeat-y;
      width: 259px; }
    body #features span.price-tag {
      display: block;
      position: absolute;
      top: 12px;
      left: -15px;
      font-size: 18px;
      height: 31px; }
      body #features span.price-tag span {
        display: block;
        background: url(img/price.png) no-repeat top right;
        padding: 1px 5px 10px 10px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
        font-style: normal; }
  body .home #container {
    background: none; }
    body .home #container #slider {
      position: relative;
      display: block;
      /* jssor slider arrow navigator skin 22 css */ }
      body .home #container #slider .slider-title {
        position: absolute;
        top: 170px;
        left: 165px;
        width: 360px;
        height: 60px;
        font-size: 48px;
        color: #ffffff;
        line-height: 60px;
        text-transform: uppercase; }
      body .home #container #slider .slider-description {
        position: absolute;
        top: 300px;
        left: 165px;
        width: 360px;
        height: 100px;
        font-size: 16px;
        color: #ffffff;
        line-height: 21px;
        font-family: Georgia, serif;
        font-weight: bold; }
      body .home #container #slider .jssorb05 {
        position: absolute; }
      body .home #container #slider .jssorb05 div, body .home #container #slider .jssorb05 div:hover, body .home #container #slider .jssorb05 .av {
        position: absolute;
        /* size of bullet elment */
        width: 16px;
        height: 16px;
        background: url("img/slider/b05.png") no-repeat;
        overflow: hidden;
        cursor: pointer; }
      body .home #container #slider .jssorb05 div {
        background-position: -7px -7px; }
      body .home #container #slider .jssorb05 div:hover, body .home #container #slider .jssorb05 .av:hover {
        background-position: -37px -7px; }
      body .home #container #slider .jssorb05 .av {
        background-position: -67px -7px; }
      body .home #container #slider .jssorb05 .dn, body .home #container #slider .jssorb05 .dn:hover {
        background-position: -97px -7px; }
      body .home #container #slider .jssora22l, body .home #container #slider .jssora22r {
        display: block;
        position: absolute;
        /* size of arrow element */
        width: 40px;
        height: 58px;
        cursor: pointer;
        background: url("img/slider/a22.png") center center no-repeat;
        overflow: hidden; }
      body .home #container #slider .jssora22l {
        background-position: -10px -31px; }
      body .home #container #slider .jssora22r {
        background-position: -70px -31px; }
      body .home #container #slider .jssora22l:hover {
        background-position: -130px -31px; }
      body .home #container #slider .jssora22r:hover {
        background-position: -190px -31px; }
      body .home #container #slider .jssora22l.jssora22ldn {
        background-position: -250px -31px; }
      body .home #container #slider .jssora22r.jssora22rdn {
        background-position: -310px -31px; }
      body .home #container #slider .slide-top-shadow {
        background: url(img/top-bg.png) repeat-x;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 11px; }
      body .home #container #slider .slide-bottom-shadow {
        background: url(img/bottom-bg.png) repeat-x;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 9px; }
    body .home #container #header {
      position: absolute;
      top: 0;
      width: 100%; }
      body .home #container #header .category-name {
        display: none; }
    body .home #container #top-shadow {
      display: none; }
    body .home #container .breadcrumb {
      display: none; }
    body .home #container .top-shadow {
      background: url(img/quote-shadow.png) no-repeat;
      width: 960px;
      height: 8px;
      left: 11%;
      top: 19.2%;
      position: absolute;
      z-index: 10; }
    body .home #container #quote {
      background: url(img/quote-bg.png) repeat-x;
      height: 132px;
      margin-bottom: 57px;
      position: relative; }
      body .home #container #quote .container {
        text-align: center;
        background: url(img/stars.png) no-repeat center 95%;
        padding-top: 20px;
        padding-bottom: 10px; }
        body .home #container #quote .container #quote-line-1 {
          font-family: 'Goudy Bookletter 1911', Georgia, serif;
          font-size: 30px;
          color: #654e2d;
          text-shadow: 1px 1px 1px #ffffff;
          font-style: normal;
          padding-bottom: 0; }
        body .home #container #quote .container #quote-line-2 {
          color: #b4a48d;
          font-family: 'Goudy Bookletter 1911', Georgia, serif;
          font-size: 14px;
          text-shadow: 1px 1px 1px #ffffff;
          text-transform: uppercase;
          font-style: normal; }
    body .home #container #bottom-menu {
      padding-top: 30px;
      padding-bottom: 15px; }
  body #container {
    background: url("img/page-top.jpg") no-repeat; }
    body #container #header {
      background: url(img/quote-shadow.png) repeat-x;
      padding-left: 11%;
      padding-top: 26px;
      text-align: left;
      height: 255px; }
      body #container #header .navbar-header {
        background: url(img/menu/menu-bar.png) no-repeat;
        height: 87px; }
        body #container #header .navbar-header .navbar-brand {
          float: none;
          margin-left: 5px; }
        body #container #header .navbar-header #logo {
          display: inline-block;
          vertical-align: text-bottom; }
        body #container #header .navbar-header #company-name {
          color: #ffffff;
          display: inline-block; }
      body #container #header .navbar-default {
        z-index: 1; }
        body #container #header .navbar-default .navbar-toggle {
          margin-top: 15px; }
          body #container #header .navbar-default .navbar-toggle .icon-bar {
            background-color: #eee; }
        body #container #header .navbar-default .navbar-nav {
          float: left;
          margin-left: 9%;
          height: 70px;
          text-transform: uppercase;
          font-size: 12px; }
          body #container #header .navbar-default .navbar-nav li a {
            color: #ffffff;
            margin-top: 10px; }
            body #container #header .navbar-default .navbar-nav li a:hover {
              color: #eee4ba; }
          body #container #header .navbar-default .navbar-nav .active {
            margin-top: -10px; }
            body #container #header .navbar-default .navbar-nav .active a {
              background: url(img/menu/current-bg.png) repeat-x 0 3px;
              color: #eee4ba !important;
              font-style: italic;
              height: 65px;
              padding-top: 25px; }
          body #container #header .navbar-default .navbar-nav .dropdown-menu {
            background: #e7e7e7 url(img/menu/dropdown-bg.png) repeat-y;
            margin-top: 5px;
            border: none; }
      body #container #header #menu-bg {
        width: 68%;
        position: absolute;
        left: 32%;
        z-index: 0;
        top: 27px;
        height: 70px;
        background: url(img/menu/menu-bg.png) repeat-x; }
      body #container #header .category-name {
        padding-top: 15px;
        padding-left: 15px; }
        body #container #header .category-name .category-title {
          color: #ffffff;
          font-size: 30px;
          font-style: normal;
          text-transform: uppercase;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
        body #container #header .category-name .meta-info {
          font-style: normal;
          font-weight: bold;
          font-family: Helvetica, Arial, sans-serif;
          font-size: 14px;
          color: #dacba7;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
          margin-top: -12px; }
          body #container #header .category-name .meta-info a {
            color: #dacba7; }
            body #container #header .category-name .meta-info a a:hover {
              color: #ffffff; }
    body #container .breadcrumb {
      height: 70px;
      color: #716851;
      font-size: 14px;
      text-shadow: url(img/quote-shadow.png);
      text-transform: uppercase;
      font-style: normal;
      position: relative;
      margin-bottom: 0; }
      body #container .breadcrumb #breadcrumbs-text {
        display: inline-block;
        margin-top: 15px;
        padding-left: 7.5%; }
      body #container .breadcrumb #search-form {
        float: right;
        height: 37px;
        margin-right: 9%;
        margin-top: 11px; }
        body #container .breadcrumb #search-form #searchinput {
          background-color: #dddddd;
          border-radius: 20px;
          height: 35px;
          float: left;
          font-family: Georgia, serif;
          font-style: italic;
          margin: 0 20px 0 0;
          padding-left: 18px;
          font-size: 12px;
          color: #a1a0a0; }
    body #container #top-shadow {
      background: url(img/quote-shadow.png) no-repeat;
      width: 960px;
      height: 8px;
      left: 11%;
      top: 46%;
      position: absolute;
      z-index: 2; }
    body #container #content {
      position: relative;
      background: url(img/content-bg.png);
      border-bottom: 1px solid #dddbbf; }
      body #container #content #left-area {
        margin-left: 12%;
        float: left;
        width: 332px;
        font-size: 14px; }
        body #container #content #left-area .info-block {
          margin-bottom: 35px;
          color: #442917; }
          body #container #content #left-area .info-block p {
            text-transform: uppercase; }
          body #container #content #left-area .info-block span {
            text-transform: lowercase;
            color: #716851; }
      body #container #content #gmaps-border {
        padding: 5px;
        border: 1px solid #e5e2c6;
        background: #ffffff;
        box-shadow: 1px 1px 1px #ffffff;
        margin-bottom: 12px; }
      body #container #content .location-page {
        float: right;
        margin-right: 5%; }
        body #container #content .location-page #gmaps-container {
          width: 591px;
          height: 403px; }
          body #container #content .location-page #gmaps-container #embed-map-display img {
            max-width: none !important;
            background: none !important;
            font-size: inherit; }
      body #container #content #browse-menu {
        color: #ffffff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        font-style: normal;
        font-size: 16px;
        position: absolute;
        left: 39.8%;
        bottom: -18px;
        z-index: 2; }
    body #container #footer {
      background: #f2f1e8 url(img/footer-bg.png) repeat-x;
      position: relative;
      padding-top: 35px; }
      body #container #footer #footer-boxs {
        width: 960px;
        margin: auto;
        border-bottom: 1px solid #dcd7b1;
        margin-bottom: 20px; }
        body #container #footer #footer-boxs #logo-name {
          display: inline-block;
          color: black;
          text-shadow: none;
          font-size: xx-large; }
      body #container #footer #bottom-menu {
        text-align: center;
        background: url(img/bottom-menu.png) no-repeat top center;
        padding-top: 30px;
        padding-bottom: 15px; }
        body #container #footer #bottom-menu li {
          display: inline-block; }
      body #container #footer #copyright {
        text-align: center; }

