@import "reset.css";

//BASIC STYLE
$bg-color: #f2f1e8;
$basic-line-height: 18px;
$basic-font-family: Georgia, serif;
$basic-font-size: 12px;
$basic-color: #716851;
$basic-text-shadow: 1px 1px 1px #ffffff;
$basic-link-color: #5a863c;
$header-color: #ffffff;

%basic_title_style {    //h1, h2, h3, h4, h5, h6
	padding-bottom: 5px;
	letter-spacing: -1px;
	line-height: 1em;
	font-weight: normal;
}

//HEADER
$top-shadow: url(img/top-bg.png);
$logo-bg: url(img/menu/menu-bar.png);
body {
    //BASIC STYLES
    background-color: $bg-color;
    line-height: $basic-line-height; 
    font-family: $basic-font-family; 
    font-size: $basic-font-size; 
    color: $basic-color; 
    text-shadow: $basic-text-shadow;

    a { 
        text-decoration: none; 
        color: $basic-link-color; 

        &:hover { 
            text-decoration: underline; 
        }
    }

    h1 {
	    @extend %basic_title_style;
	    font-size: 30px;
    }
    h2 {
	    @extend %basic_title_style;
	    font-size: 24px;
    }
    h3 {
	    @extend %basic_title_style;
	    font-size: 22px;
    }
    h4 {
	    @extend %basic_title_style;
	    font-size: 18px;
    }
    h5 {
	    @extend %basic_title_style;
	    font-size: 16px;
    }
    h6 {
	    @extend %basic_title_style;
	    font-size: 14px;
    }

    p { 
        padding-bottom: 10px; 
        line-height: 24px; 
    }

    .clearfix:after {
	    visibility: hidden;
	    display: block;
	    font-size: 0;
	    content: " ";
	    clear: both;
	    height: 0;
    }

    //MAIN STYLES
    background: $top-shadow repeat-x; 

    #wrapper {
        text-align: left; margin: 0 auto; width: 960px; position: relative;
        height: 465px; padding-top: 27px;
        #header {
            #menu-bar {
                position: relative;
                background: $logo-bg no-repeat; 
                padding-left: 260px; 
                height: 87px;
                float: left;
                #logo-bar { 
                    position: absolute; 
                    top: 19px; 
                    left: 20px;
             
                    a:hover { 
                        text-decoration: none; 
                    }

                    #company-name {
                        display:inline-block;  
                        color: $header-color;
                        text-shadow: none;
                    }
                }
            }       

            #top-menu {
                background: url(img/menu/menu-bg.png) repeat-x; 
                height: 70px;
                margin-left:260px;
                ul { // replace with ID
                    li {
                        float: left;
                        margin-left: 4px;
                        a { 
                            font-size: 12px; 
                            color: #ffffff; 
                            text-decoration: none; 
                            text-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
                            text-transform: uppercase; 
                            line-height: 67px; 
                            display: block; 
                            padding: 0 10px; 

                            &:hover { 
                                color: #eee4ba;
                            }
                        }
                    }
                }
            }
        }
    }
}
