@import url(reset.css);
body h1, body h2, body h3, body h4, body h5, body h6 {
  padding-bottom: 5px;
  letter-spacing: -1px;
  line-height: 1em;
  font-weight: normal; }

body {
  background-color: #f2f1e8;
  line-height: 18px;
  font-family: Georgia, serif;
  font-size: 12px;
  color: #716851;
  text-shadow: 1px 1px 1px #ffffff;
  background: url(img/top-bg.png) repeat-x; }
  body a {
    text-decoration: none;
    color: #5a863c; }
    body a:hover {
      text-decoration: underline; }
  body h1 {
    font-size: 30px; }
  body h2 {
    font-size: 24px; }
  body h3 {
    font-size: 22px; }
  body h4 {
    font-size: 18px; }
  body h5 {
    font-size: 16px; }
  body h6 {
    font-size: 14px; }
  body p {
    padding-bottom: 10px;
    line-height: 24px; }
  body .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0; }
  body #wrapper {
    text-align: left;
    margin: 0 auto;
    width: 960px;
    position: relative;
    height: 465px;
    padding-top: 27px; }
    body #wrapper #header #menu-bar {
      position: relative;
      background: url(img/menu/menu-bar.png) no-repeat;
      padding-left: 260px;
      height: 87px;
      float: left; }
      body #wrapper #header #menu-bar #logo-bar {
        position: absolute;
        top: 19px;
        left: 20px; }
        body #wrapper #header #menu-bar #logo-bar a:hover {
          text-decoration: none; }
        body #wrapper #header #menu-bar #logo-bar #company-name {
          display: inline-block;
          color: #ffffff;
          text-shadow: none; }
    body #wrapper #header #top-menu {
      background: url(img/menu/menu-bg.png) repeat-x;
      height: 70px;
      margin-left: 260px; }
      body #wrapper #header #top-menu ul li {
        float: left;
        margin-left: 4px; }
        body #wrapper #header #top-menu ul li a {
          font-size: 12px;
          color: #ffffff;
          text-decoration: none;
          text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
          text-transform: uppercase;
          line-height: 67px;
          display: block;
          padding: 0 10px; }
          body #wrapper #header #top-menu ul li a:hover {
            color: #eee4ba; }

