@import "reset.css";
@import "media-queries.min.css";

//BASIC STYLE
$bg-color: #f2f1e8;
$basic-line-height: 18px;
$basic-font-family: Georgia, serif;
$basic-font-size: 12px;
$basic-color: #716851;
$basic-link-color: #5a863c;
$white: #ffffff;
$text-shadow: 1px 1px 1px $white;

%basic_title_style { //h1, h2, h3, h4, h5, h6
    padding-bottom: 5px;
    letter-spacing: -1px;
    line-height: 1em;
    font-weight: normal;
}

%thumbnail_style { //.post-thumbnail, .blog-thumbnail,
    display:block; 
    float:left; 
    position:relative; 
    margin-right: 30px;
}

//PAGE
$page-bg: url('img/page-top.jpg');
    //SLIDER
$slider-bullet: url('img/slider/b05.png'); 
$slider-arrow: url('img/slider/a22.png');
//HEADER
$top-shadow: url(img/top-bg.png);
$logo-bg: url(img/menu/menu-bar.png);
$menu-bg: url(img/menu/menu-bg.png);
$active-bg: url(img/menu/current-bg.png);
$link-color: #eee4ba;
$dropdown: url(img/menu/dropdown-bg.png);
$quote-bg: url(img/quote-bg.png);
$stars: url(img/stars.png);
// CONTENT
$content-bg: url(img/content-bg.png); 
$top-shadow: url(img/quote-shadow.png); 
$bottom-shadow: url(img/bottom-shadow.png);
//FOOTER
$footer-bg: url(img/footer-bg.png);
$footer-line-color: #dcd7b1;
$bottom-menu: url(img/bottom-menu.png); 
$frame: url('img/frame.png'); 
$testimonials-top: url(img/testimonials/testimonials-top.png);
$testimonials-content: url(img/testimonials/testimonials-content-bg.png);
$testimonials-bottom: url(img/testimonials/testimonials-bottom.png);
body {
    //BASIC STYLES
    background-color: $bg-color;
    line-height: $basic-line-height;
    font-family: $basic-font-family;
    font-size: $basic-font-size;
    color: $basic-color;

    a {
        text-decoration: none;
        color: $basic-link-color;

        &:hover {
            text-decoration: underline;
        }
    }

    h1 {
        @extend %basic_title_style;
        font-size: 30px;
    }

    h2 {
        @extend %basic_title_style;
        font-size: 24px;
    }

    h3 {
        @extend %basic_title_style;
        font-size: 22px;
    }

    h4 {
        @extend %basic_title_style;
        font-size: 18px;
    }

    h5 {
        @extend %basic_title_style;
        font-size: 16px;
    }

    h6 {
        @extend %basic_title_style;
        font-size: 14px;
    }

    p {
        padding-bottom: 10px;
        line-height: 24px;
    }

    .clearfix:after {
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
    }

    //HOME
    .home {
        #container {
            background: none;
            //SLIDER
            #slider {
                position: relative;
                display: block;
                .slider-title {
                    position: absolute; 
                    top: 170px; 
                    left: 165px; 
                    width: 360px; 
                    height: 60px; 
                    font-size: 48px; 
                    color: $white; 
                    line-height: 60px;
                    text-transform: uppercase;
                }

                .slider-description {
                    position: absolute; 
                    top: 300px; 
                    left: 165px; 
                    width: 360px; 
                    height: 100px; 
                    font-size: 16px; 
                    color: $white; 
                    line-height: 21px;
                    font-family: Georgia, serif;
                    font-weight: bold;
                }

                .jssorb05 {
                    position: absolute;
                }
                .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
                    position: absolute;
                    /* size of bullet elment */
                    width: 16px;
                    height: 16px;
                    background: $slider-bullet no-repeat;
                    overflow: hidden;
                    cursor: pointer;
                }
                .jssorb05 div { background-position: -7px -7px; }
                .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
                .jssorb05 .av { background-position: -67px -7px; }
                .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }
                    /* jssor slider arrow navigator skin 22 css */
                .jssora22l, .jssora22r {
                    display: block;
                    position: absolute;
                    /* size of arrow element */
                    width: 40px;
                    height: 58px;
                    cursor: pointer;
                    background: $slider-arrow center center no-repeat;
                    overflow: hidden;
                }
                .jssora22l { background-position: -10px -31px; }
                .jssora22r { background-position: -70px -31px; }
                .jssora22l:hover { background-position: -130px -31px; }
                .jssora22r:hover { background-position: -190px -31px; }
                .jssora22l.jssora22ldn { background-position: -250px -31px; }
                .jssora22r.jssora22rdn { background-position: -310px -31px; }

                .slide-top-shadow { 
                    background: url(img/top-bg.png) repeat-x; 
                    position: absolute; 
                    top: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 11px; 
                }
	            .slide-bottom-shadow { 
                    background: url(img/bottom-bg.png) repeat-x; 
                    position: absolute; 
                    bottom: 0; 
                    left: 0; 
                    width: 100%; 
                    height: 9px; 
	            }
            }         
            //HEADER
            #header {
                position: absolute;
                top: 0;
                width: 100%;
                .category-name {
                    display: none;
                }
            }
            //CONTENT
            #content {
                padding-top: 0;
            }
            
            .breadcrumb {
                display: none;
            }
            #top-shadow {
                background: $top-shadow no-repeat;
                height: 8px;
                margin-top: 18px;
                margin-left: 150px;
                z-index: 2;
            }
            #quote {
                background: $quote-bg repeat-x;
                height: 132px;
                margin-bottom: 57px;
                position: relative;
                .container {
                    text-align: center;
                    background: $stars no-repeat center 95%;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    #quote-line-1 {
                        font-family: 'Goudy Bookletter 1911', Georgia, serif;
                        font-size: 30px;
                        color: #654e2d;
                        text-shadow: $text-shadow;
                        font-style: normal;
                        padding-bottom: 0;
                    }
                    #quote-line-2 {
                        color: #b4a48d;
                        font-family: 'Goudy Bookletter 1911', Georgia, serif;
                        font-size: 14px;
                        text-shadow: $text-shadow;
                        text-transform: uppercase;
                        font-style: normal;
                    }
                }
            }
            //FOOTER
            #browse-menu {
                color: $white; 
                text-shadow: 1px 1px 1px rgba(0,0,0,0.6); 
                font-style: normal; 
                font-size:16px; 
                position: absolute; 
                left: 40.5%; 
                bottom: -18px; 
                z-index: 2;
            }
        }
    }

    //PAGE
    #container {
        background: $page-bg repeat-x;
        #slider {
            display: none;
        }
        //HEADER
        #header {
            position: relative;
            background: $top-shadow repeat-x;
            padding-left: 11%;
            padding-top: 26px;
            text-align: left;
            height: 255px;

            .navbar-header {
                background: $logo-bg no-repeat bottom left;
                height: 85px;

                .navbar-brand {
                    float: none;
                    margin-left: 5px;
                }

                #logo {
                    display: inline-block;
                    vertical-align: text-bottom;
                }

                #company-name {
                    color: $white;
                    display: inline-block;
                }
            }

            .navbar-default {
                z-index: 1;

                .navbar-toggle {
                    margin-top: 15px;

                    .icon-bar {
                        background-color: #eee;
                    }
                }

                .navbar-nav {
                    float: left;
                    margin-left: 9%;
                    height: 70px;
                    text-transform: uppercase;
                    font-size: 12px;

                    li {
                        a {
                            color: $white;
                            margin-top: 10px;

                            &:hover {
                                color: $link-color;
                            }
                        }
                    }

                    .active {
                        margin-top: -10px;

                        a {
                            background: $active-bg repeat-x 0 3px;
                            color: $link-color !important;
                            font-style: italic;
                            height: 65px;
                            padding-top: 25px;
                        }
                    }

                    .dropdown-menu {
                        background: #e7e7e7 $dropdown repeat;
                        margin-top: 5px;
                        border: none;
                    }
                }
            }

            #menu-bg {
                width: 88%;
                position: absolute;
                left: 12%;
                z-index: 0;
                top: 27px;
                height: 70px;
                background: $menu-bg repeat-x;
            }

            .category-name {
                padding-top: 15px;
                padding-left: 15px;

                .category-title {
                    color: $white;
                    font-size: 30px;
                    font-style: normal;
                    text-transform: uppercase;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
                }

                .meta-info {
                    font-style: normal;
                    font-weight: bold;
                    font-family: Helvetica, Arial, sans-serif;
                    font-size: 14px;
                    color: #dacba7;
                    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
                    margin-top: -12px;

                    a {
                        color: #dacba7;

                        a:hover {
                            color: $white;
                        }
                    }
                }
            }

            #login-bar {
                h2 {
                    color: white;
                    display: inline-block;
                }
                position: absolute;
                right: 2%;
                top: 17%;
                z-index: 5;
            }
        }
        //CONTENT
        .breadcrumb {
                height: 70px;
                color: $basic-color;
                font-size: 14px;
                text-transform: uppercase;
                font-style: normal;
                position: relative;
                margin-bottom: 0;

                #breadcrumbs-text {
                    display: inline-block;
                    margin-top: 15px;
                    padding-left: 7.5%;
                }

                #search-form {
                    float: right;
                    height: 37px;
                    margin-right: 9%;
                    margin-top: 11px;

                    #searchinput {
                        background-color: #dddddd;
                        border-radius: 20px;
                        height: 35px;
                        float: left;
                        font-family: $basic-font-family;
                        font-style: italic;
                        margin: 0 20px 0 0;
                        padding-left: 18px;
                        font-size: 12px;
                        color: #a1a0a0;
                    }
                }

                #top-shadow {
                    background: $top-shadow no-repeat;
                    height: 8px;
                    margin-top: 10px;
                    margin-left: 150px;
                    z-index: 2;
                }
            }
        .row {
            margin-right: 0;
        }
        #content {
            position: relative;
            background: $content-bg;
            border-bottom: 1px solid #dddbbf;
            padding-top: 2%;

            #left-area {
                margin-left: 12%;
                font-size: 14px;

                .info-block {
                    margin-bottom: 35px;
                    color: #442917;

                    p {
                        text-transform: uppercase;
                    }

                    span {
                        text-transform: lowercase;
                        color: #716851;
                    }
                }
            }

            #right-area {
                margin-left: 7%;
                #gmaps-border {
                    padding: 5px;
                    border: 1px solid #e5e2c6;
                    background: $white;
                    box-shadow: $text-shadow;
                    margin-bottom: 12px;
                }

                .location-page {
                    width: 90%;
                    #gmaps-container {
                        #embed-map-display {
                            img {
                                max-width: none !important;
                                background: none !important;
                                font-size: inherit;
                            }
                        }
                    }
                }
            }

            #features {
                text-align: left;
                margin-left: 15%;
                position: relative;

                #middle-block {
                    width: 280px; 
                    #gmaps-container { 
                        width: 270px; 
                        height: 170px; 
                    }

                    span.hours_of_work { 
                        color: #cac6a1; 
                        font-style: normal; 
                        font-size: 14px; 
                        text-transform: uppercase; 
                    }
			        span.work_hours_text { 
                        font-size: 14px; 
                        font-style: normal; 
                        color: #442917; 
                        margin: 0 8px 0 6px; 
			        }
                }
                #right-block {
                    margin-right: 0;
                }

                .box {
                    float: left;
                    width: 260px;
                    margin-right: 80px;
                    margin-bottom: 60px;
                    font-family: $basic-font-family;
                    color: #92907c;
                    p { 
                        line-height: 21px; 
                        font-style: italic;
                    }
                    h3.title { 
                        color:#cac6a1; 
                        font-size:16px; 
                        text-transform: uppercase; 
                        padding-bottom: 13px; 
                        text-shadow: $text-shadow; 
                    }
                    h4.title { 
                        font-size: 22px; 
                        text-shadow: $text-shadow; 
                        a { 
                            text-decoration: none; 
                            color: #442917; 
                        }
                    }
                    .thumb { 
                        display:block; 
                        float:left; 
                        position:relative; 
                        margin-right: 22px;
                    }
                    .item-image { 
                        margin-top:6px; 
                        margin-left:6px; 
                    }
                    span.overlay { 
                        background: $frame no-repeat; 
                        display:block; 
                        width:69px;
                        height:69px; 
                        position:absolute; 
                        top:0; 
                        left:0; 
                    }
                }

                .testimonials-item  { 
                    background: $testimonials-top no-repeat; 
                    padding-top: 9px; 
                    width: 259px; 
                    .thumb { 
                        display:block; 
                        float:left; 
                        position:relative; 
                        margin: 5px 21px 0 14px;
			        }
                    .item-image { 
                        margin-top:6px;
                        margin-left:6px; 

                    }
                    p.author { 
                        color: #442917; 
                        font-size: 22px; 
                        font-style: normal;
                        padding-top: 12px; 
                        padding-bottom:0;
                        text-shadow: $text-shadow; 
                    }
			        p { 
                        padding-right: 20px; 
                        padding-left: 20px; 
			        }
                }
		        .testimonials-item-bottom { 
                    background: $testimonials-bottom no-repeat left bottom; 
                    padding-bottom: 20px; 
                    width: 259px; 
		        }
		        .testimonials-item-content { 
                    background: $testimonials-content repeat-y; 
                    width: 259px; 
		        }

                span.price-tag { 
                    display: block; 
                    position: absolute;
                    top: 12px; 
                    left: -15px;
                    font-size: 18px; 
                    height: 31px;
                    span { 
                        display: block; 
                        background: url(img/price.png) no-repeat top right; 
                        padding: 1px 5px 10px 10px; 
                        color: #fff; 
                        text-shadow: 1px 1px 1px rgba(0,0,0,0.5); 
                        font-style: normal; 
                    }
                }
            }

            #posts {
                li {
                    display: block;
                    height: 400px;
                    margin-bottom: 5%;
                }

                #mySpinner {
                    margin-left: 60%;
                    margin-top: 10%;
                }
            }

            .post { 
                padding:0 3% 3% 12%; 
                p { 
                    line-height:21px; 
                }
                .well {
                    background-color: $white;
                }
                .media {
                    position: relative;
                    width: 620px;
                    .comment { 
                         background: url(img/comments/comment-top.png) no-repeat; 
                         padding-top: 9px; 
                         margin-bottom: 25px; 
                         position: relative;
                        .comment-bottom { 
                            background: url(img/comments/comment-bottom.png) no-repeat left bottom; 
                            padding-bottom: 26px; 
                        }
                        .comment-content { 
                            background: url(img/comments/comment-bg.png) repeat-y; 
                            padding: 7px 8px 29px 27px; 
                        }
                    }
                    .comment-sender {
                        background: url('img/comments/comment-arrow.png') no-repeat;
                        width: 9px;
                        height: 20px;
                        position: absolute;
                        top: 23px;
                        left: 72px;
                    }
                    .reply-comment {
                        float: right;
                        margin-top: 10px;
                        margin-right: 20px;
                    }
                }
            }
            .blog-thumbnail { 
                @extend %thumbnail_style;
                border: solid $link-color 1px;
                background-color: $white;
                width: 332px;
                height: 100%;
                padding-left: 5px;
                padding-top: 5px;
                padding-bottom: 5px;
            }
            .post-thumbnail { 
                @extend %thumbnail_style;
            }
            .post-overlay { 
                background:url(img/post-overlay.png) no-repeat;
                display:block; 
                height:226px; 
                left:0; 
                position:absolute; 
                top:0; 
                width:226px; 
            }
            #email-com{
                margin-bottom: 20px;
            }
            #comment-form {
                margin-top: 30%;
            }
        }
        #bottom-shadow {
            background: $bottom-shadow no-repeat;
            height: 9px;
            margin-left: 120px;
            margin-top: -44px;
            margin-bottom: 20px;
        }
        #sidebar { 
            float:left; 

            h4 { 
                font-size: 22px; 
                color: #cac6a1; 
                text-transform: uppercase; 
                padding: 0 10px 13px; 
                text-shadow: $text-shadow; 
            }

             .widget { 
                 width: 259px; 
                 background: url(img/testimonials/testimonials-top.png) no-repeat; 
                 padding-top: 9px; 
                 margin-bottom: 25px; 
                .widget-bottom { 
                    background: url(img/bottom-widget-bg.png) no-repeat left bottom; 
                    padding-bottom: 27px; 
                }
                .widget-content { 
                    background: url(img/testimonials/testimonials-content-bg.png) repeat-y; 
                    padding: 7px 8px 9px 27px; 
                    color: #442917; 
                    line-height: 21px; 
                }
                ul{
                    li { 
                        padding: 6px 0 6px 11px; 
                        a { 
                            color:#442917; 
                            text-decoration: none; 
                            &:hover { 
                                color:#000000; 
                            }
                        }
		            }
                    ul { 
                        padding-left: 10px; 
                    }
                }
             }
        }
        //FOOTER
        #footer {
            background: $bg-color $footer-bg repeat-x;
            position: relative;
            padding-top: 35px;

            #footer-boxs {
                width: 960px;
                margin: auto;
                border-bottom: 1px solid $footer-line-color;
                margin-bottom: 20px;

                #logo-name {
                    display: inline-block;
                    color: black;
                    text-shadow: none;
                    font-size: xx-large;
                }
            }

            #bottom-menu {
                text-align: center;
                background: $bottom-menu no-repeat top center; 
                padding-top: 30px; 
                padding-bottom: 15px;

                li {
                    display: inline-block;
                }
            }

            #copyright {
                text-align: center;
            }
        }
    }
}
