/* Smartphones (portrait) ----------- */
@media only screen and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .home {
        #slider {
            display: none !important;
        }
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 480px) 
and (max-device-width : 767px) {
    .home {
        #slider {
            display: none !important;
        }
    }

    #navbar {
       li {
            display: block;
		    width: 100%;
		    margin-top: 0;
		    background: url(img/menu/menu-bg.png) repeat-x;
        }
	}
}

/* Тablets ----------- */
@media only screen and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
}
