/* Smartphones (portrait) ----------- */
@media only screen and (min-width : 320px) 
and (max-width : 479px) {
    .home {
        #slider {
            display: none !important;
        }

        #logo {
            position: absolute;
            top: 8% !important;
            left: 7% !important;
            z-index: 2;
        }

        #quote {
            margin-top: 40%;
            margin-top: 60px !important;
            margin-bottom: 0 !important;
            z-index: 1 !important;
        }
        #top-shadow {
            display: none;
        }
    }
    
    #header {
        padding-left: 0 !important;
        z-index: 2 !important;

         #menu-bg {
            width: 100% !important;
            position: absolute;
            left: 0 !important;
            z-index: 0 !important;
            top: 0 !important;
        }

        #login-bar {
            display: none;
        }
    }

    .nav {
        li {
            text-align: center !important;
        }
    }
    .navbar {
        position: static !important;
        min-height: 30px !important;
    }
    .navbar-default {
        position: relative;
        background: url(img/menu/dropdown-bg.png) repeat !important;
        z-index: 3 !important;
    }       
    .navbar-header {
        background: none !important;
        height: 35px !important;

        #logo {
            position: absolute;
            top: 4.4%;
            left: 7%;
            z-index: 2;
        }

        #company-name {
            position: absolute;
            top: 0 !important;
            left: 25% !important;
            font-size: 25px;
            z-index: 2 !important;
        }
    }
    .navbar-toggle {
        margin-top: -4% !important;
        z-index: 2;
    }
    .navbar-collapse {
        padding-left: 0 !important;
    }
    .navbar-nav {
        height: auto !important;
        font-size: 16px !important;
        float: none !important; 
        margin-left: 0 !important; 
        li {
            a {
                margin-top: 0 !important;
            }
        }
        .dropdown-menu {
            margin-top: -18px !important;
        }
    }
    .category-name {
        position: absolute !important;
        top: 50% !important;
        z-index: -1;
    }
    .post {
        padding: 0 0 0 0 !important;
    }
    #posts {
        ul:first-of-type {
            li {
                margin-bottom: 200px !important;
            }
        }
    }
    #sidebar {
        margin-left: 50px;
    }
    #top-shadow {
        margin-top: 28px !important;
    }
    .breadcrumb {
        height: 100px !important;
        padding: 0 !important;
        #search-form {
            margin-right: 1% !important;
        }
    }
    #bottom-shadow {
        top: -12% !important;
    }
    #browse-menu {
        left: 15% !important; 
    }
    #bottom-menu {
        display: none;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 480px) 
and (max-width : 767px) {
    .home {
        #slider {
            display: none !important;
        }

        #logo {
            position: absolute;
            top: 8% !important;
            left: 7% !important;
            z-index: 2;
        }

        #quote {
            margin-top: 40%;
            margin-top: 60px !important;
            margin-bottom: 0 !important;
            z-index: 1 !important;
        }
        #top-shadow {
            margin-top: 18px !important;
        }
    }

    #header {
        padding-left: 0 !important;
        z-index: 2 !important;
        #menu-bg {
            width: 100% !important;
            position: absolute;
            left: 0 !important;
            z-index: 0 !important;
            top: 0 !important;
        }

        #login-bar {
            display: none;
        }
    }

    .nav {
        li {
            text-align: center !important;
        }
    }
    .navbar {
        position: static !important;
        min-height: 30px !important;
    }
    .navbar-default {
        position: relative;
        background: url(img/menu/dropdown-bg.png) repeat !important;
        z-index: 3 !important;
    }
    .navbar-header {
        background: none !important;
        height: 35px !important;

        #logo {
            position: absolute;
            top: 4.4%;
            left: 7%;
            z-index: 2;
        }

        #company-name {
            position: absolute;
            top: 0 !important;
            left: 18% !important;
            font-size: 25px;
            z-index: 2 !important;
        }
    }
    .navbar-toggle {
        margin-top: -1% !important;
        z-index: 2;
    }
    .navbar-collapse {
        padding-left: 0 !important;
    }
    .navbar-nav {
        height: auto !important;
        font-size: 16px !important;
        float: none !important; 
        margin-left: 0 !important; 
        li {
            a {
                margin-top: 0 !important;
            }
        }
        .dropdown-menu {
            margin-top: -18px !important;
        }
    }
    .category-name {
        position: absolute !important;
        top: 50% !important;
        z-index: -1;
    }
    #top-shadow {
        margin-top: 28px !important;
    }
    .breadcrumb {
        height: 100px !important;
        padding: 0 !important;
        .container {
            padding-top: 20px !important;
        }
    }    
    .post {
        padding: 0 0 0 0 !important;
    }
    #posts {
        ul:first-of-type {
            li {
                margin-bottom: 130px !important;
            }
        }
    }
    #bottom-shadow {
        top: -12% !important;
    }
    #bottom-menu {
        display: none;
    }
    #widgets {
        width: 100% !important;
        margin-left: 5%;
        li {
            display: inline-block;
            vertical-align: top;
        }
    }
}

/* Тablets ----------- */
@media only screen and (min-width : 768px) 
and (max-width : 1024px) {
    #login-bar {
        display: none;
    }
    .slider-title {
        top: 170px !important; 
    }

    .slider-description {
        top: 300px !important; 
    }
    #bottom-shadow {
        top: -5% !important;
    }
    #widgets {
        width: 100% !important;
        margin-left: 5%;
        li {
            display: inline-block;
            vertical-align: top;
        }
    }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1025px) {
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    /* Styles */
}
