<div id="features">
    <ul>
        <li class="box col-md-4">
            <h3 class="title">Chef's Specials</h3>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/bob_chorba.png" class="item-image" alt="Pesto Risotto" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Bean Soup</a></h4>
            <p>Bean soup is a traditional dish of Bulgarian cuisine...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/banica.png" class="item-image" alt="Tomato Basil Pasta" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Banica</a></h4>
            <p>Banica is baked product of rolled or stacked...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/patatnik.png" class="item-image" alt="Delicious Pasta" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Patatnik</a></h4>
            <p>For its preparation used potatoes and cheese. Can be...</p>
        </li>
        <li class="box col-md-4">
            <h3 class="title">Pasta Plates</h3>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/bob_chorba.png" class="item-image" alt="Pesto Risotto" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Bean Soup</a></h4>
            <p>Bean soup is a traditional dish of Bulgarian cuisine...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/banica.png" class="item-image" alt="Tomato Basil Pasta" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Banica</a></h4>
            <p>Banica is baked product of rolled or stacked...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/patatnik.png" class="item-image" alt="Delicious Pasta" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Patatnik</a></h4>
            <p>For its preparation used potatoes and cheese. Can be...</p>
        </li>
        <li id="right-block" class="box col-md-4">
            <h3 class="title">Salads</h3>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/bob_chorba.png" class="item-image" alt="Pesto Risotto" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Bean Soup</a></h4>
            <p>Bean soup is a traditional dish of Bulgarian cuisine...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/banica.png" class="item-image" alt="Tomato Basil Pasta" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Banica</a></h4>
            <p>Banica is baked product of rolled or stacked...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/patatnik.png" class="item-image" alt="Delicious Pasta" width="56" height="56">
                    <span class="overlay"></span>
                    <span class="price-tag"><span>$12</span></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Patatnik</a></h4>
            <p>For its preparation used potatoes and cheese. Can be...</p>
        </li>
    </ul>
</div>

