<div class="container" ng-controller="AddPostController">
    <div id="addpostbox" style="margin-top:50px;" class="mainbox col-md-8 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Add Post</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                <form id="addpostform" name="postForm" class="form-horizontal" role="form" ng-submit="vm.public(vm.post)" novalidate>
                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-header"></i></span>
                        <input id="post-title" type="text" class="form-control" name="title" placeholder="title" ng-model="vm.post.title" required>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-picture"></i></span>
                        <input id="post-image" type="text" class="form-control" name="image" placeholder="image" ng-model="vm.post.image" required>
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-list-alt"></i></span>
                        <input id="post-category" type="text" class="form-control" name="category" placeholder="category" ng-model="vm.post.category">
                    </div>

                    <div style="margin-bottom: 25px" class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <textarea id="post-description" rows="8" class="form-control" name="description" placeholder="description" ng-model="vm.post.description" required></textarea>
                    </div>

                    <div style="float: right; margin-top:10px; margin-right: 60px;">
                        <div class="col-sm-12 controls">
                            <button type="submit" id="btn-login" href="#" class="btn btn-success" ng-disabled="postForm.$invalid">Public post</button>
                        </div>
                    </div>
                </form>
                <div style="margin-top: 10px; position: absolute; right: 30px;">
                    <button id="btn-fblogin" href="#" class="btn btn-danger" ng-click="vm.reset()">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>