<main id="posts" class="col-md-9">
    <!-- Blog Posts -->
    <img id="mySpinner" src="../css/img/slider/loading.gif" ng-show="vm.loading" />
    <ul>
        <li ng-repeat="post in vm.posts | orderBy:vm.orderPost | limitTo: vm.postLimit | filter:query ">
            <article class="post">
                <header>
                    <h1>{{post.title}}</h1>
                    <p>
                        by <a href="#">{{post.author}}</a>
                        <span class="glyphicon glyphicon-time"></span> Posted on {{post.createdAt | date:"dd MMMM yyyy 'at' H:mm"}}
                    </p>
                    <div class="blog-thumbnail">
                        <img src="{{post.img}}" class="post-thumb" alt="Post image" width="320">
                    </div>
                </header>
                <p>{{post.desc}}</p>
                <footer>
                    <div>
                        <a href="/post/{{post.objectId}}" class="btn btn-success">Read more</a>
                    </div>
                </footer>
            </article>
        </li>
    </ul>
</main>
<div id="sidebar" class="col-md-3" sidebar>
</div>