<main id="posts" class="col-md-9">
    <!--Search: <input type="search" ng-model="vm.query">-->

    <!-- Blog Post -->
    <ul>
        <li ng-repeat="post in vm.posts | filter:vm.query | orderBy:vm.orderProp">
            <article class="post">
                <header>
                    <h1>{{post.title}}</h1>
                    <p>
                        by <a href="#">{{post.author}}</a>
                        <span class="glyphicon glyphicon-time"></span> Posted on {{post.createdAt | date:"dd MMMM yyyy 'at' H:mm"}}
                    </p>
                    <div class="post-thumbnail">
                        <img src="{{post.img}}" class="post-thumb" alt="Post image" width="320">
                    </div>
                </header>
                <p>{{post.desc}}</p>
                <footer>
                    <div>
                        <a href="/post" class="btn btn-success">Read more</a>
                    </div>
                </footer>
            </article>
        </li>
    </ul>
</main>
<div id="sidebar" class="col-md-3">
    <h4>Recent Post</h4>
    <div class="widget">
        <div class="widget-bottom">
            <div class="widget-content">
                <ul>
                    <li>
                        <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h4>Recent Comments</h4>
    <div class="widget">
        <div class="widget-bottom">
            <div class="widget-content">
                <ul>
                    <li>
                        <span>
                            <a href="#">Mariq</a>
                        </span> on
                        <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <span>
                            <a href="#">Pesho</a>
                        </span> on <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <span>
                            <a href="#">Gosho</a>
                        </span> on <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                    <li>
                        <span>
                            <a href="#">Ivan</a>
                        </span> on <a href="#">Rhoncus quis varius sed velit</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <h4>Meta</h4>
    <div class="widget">
        <div class="widget-bottom">
            <div class="widget-content">
                <ul>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Entries RSS</a></li>
                    <li><a href="#">Comments RSS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
