<main id="posts" class="col-md-9">
    <img id="myLoader" src="../css/img/slider/loading.gif" ng-show="vm.loading" />

    <ul>
        <li class="col-md-4" ng-repeat="post in vm.posts.slice(vm.page, vm.page + vm.postLimit) track by $index | orderBy:vm.orderPost | limitTo: vm.postLimit">
            <article class="post" post></article>
        </li>
    </ul>

    <div id="page-nav" ng-if="vm.posts.length > vm.postLimit">
        <div class="btn-group" >
            <button ng-repeat="row in vm.range() track by $index" class="btn btn-default" ng-click="vm.currentPage(row)">{{$index + 1}}</button>
        </div>
    </div>
</main>
<div id="sidebar" class="col-md-3" sidebar>
</div>