<div id="quote">
    <div class="container">
        <p id="quote-line-1">Are you hungry?</p>
        <p id="quote-line-2">Try the best traditional foods in Bulgaria</p>
    </div>
</div>
<div id="features">
    <ul>
        <li id="left-block" class="box">
            <h3 class="title">Chef's Recommendations</h3>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/bob_chorba.png" class="item-image" alt="Pesto Risotto" width="56" height="56">
                    <span class="overlay"></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Bean Soup</a></h4>
            <p>Bean soup is a traditional dish of Bulgarian cuisine...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/banica.png" class="item-image" alt="Tomato Basil Pasta" width="56" height="56">
                    <span class="overlay"></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Banica</a></h4>
            <p>Banica is baked product of rolled or stacked...</p>
            <div class="thumb">
                <a href="#">
                    <img src="img/foods/patatnik.png" class="item-image" alt="Delicious Pasta" width="56" height="56">
                    <span class="overlay"></span>
                </a>
            </div>
            <h4 class="title"><a href="#">Patatnik</a></h4>
            <p>For its preparation used potatoes and cheese. Can be...</p>
        </li>
        <li id="middle-block" class="box">
            <div class="home-block">
                <h3 class="title">Location and hours of operation</h3>
                <div id="gmaps-border">
                    <div id="gmaps-container">
                        <div style="width:270px;overflow:hidden;height:170px;max-width:100%;">
                            <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                                <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Sofia,+Bulgaria+&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <span class="hours_of_work">Mon-Fri</span><span class="work_hours_text">8am-6pm</span><span class="hours_of_work">Sat-Sun</span><span class="work_hours_text">8am-10pm</span>
            </div>
        </li>
        <li id="right-block" class="box">
            <div class="home-block last">
                <h3 class="title">Customer Testimonials</h3>
                <div class="testimonials-item">
                    <div class="testimonials-item-bottom">
                        <div class="testimonials-item-content">
                            <div class="thumb">
                                <img src="img/my-photo.jpg" class="item-image" alt="avatar" width="56" height="56">
                                <span class="overlay"></span>
                            </div>
                            <p class="author">Kristian Karabeliov</p>
                            <p>
                                The restaurant is in the typical Bulgarian style.
                                The food is good-nothing to complain about.
                                Really delicious and you will enjoy the Bulgarian way of preparing meals.
                                The place also offers a programme with folklore dancers.
                                The music is too loud when they have this singer/ programme. The service is also good.
                                The prices are just average.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</div>
<a id="browse-menu" class="btn btn-warning">Click Here To Browse The Menu</a>

