<div id="left-area" class="col-md-3">
    <div class="info-block">
        <h2 class="category_name">Address</h2>
        1051 Nipomo St San Luis Obispo, CA 93401
    </div>

    <div class="info-block">
        <h2 class="category_name">Hours Of Operation</h2>
        <p>Monday-Friday: <span>8am-6pm</span></p>
        <p>Saturday-Sunday: <span>8am-10pm</span></p>
    </div>

    <div class="info-block">
        <h2 class="category_name">Contact Info</h2>
        <p>Email Address: <span>contact@mycuisine.com</span></p>
        <p>Telephone: <span>343-233-5533</span></p>
        <p>Fax: <span>432-456-6642</span></p>
    </div>
</div>

<div id="right-area" class="col-md-6">
    <div id="gmaps-border" class="location-page">
        <div id="gmaps-container">
            <div style="width:100%;overflow:hidden;height:400px;max-width:100%;">
                <div id="embed-map-display" style="height:100%; width:100%;max-width:100%;">
                    <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Sofia,+Bulgaria+&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
