<main id="posts" class="col-md-9" ng-controller="BlogController as post">
    <!-- Blog Post -->
    <article class="post">
        <header>
            <!-- Title -->
            <h1>{{post.currentPost.title}}</h1>
            <!-- Author -->
            <p class="lead">
                by <a href="#">{{post.currentPost.author}}</a>
            </p>
            <!-- Date/Time -->
            <p><span class="glyphicon glyphicon-time"></span> Posted on {{post.currentPost.createdAt | date:"dd MMMM yyyy 'at' H:mm"}}</p>
            <!-- Preview Image -->
            <div class="post-thumbnail">
                <img src="{{post.currentPost.img}}" class="post-thumb" alt="Post image" width="220" height="225">
                <span class="post-overlay"></span>
            </div>
        </header>
        <!-- Post Content -->
        <p>{{post.currentPost.desc}}</p>
        <footer id="comment-form">
            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form ng-controller="CommentController as commentCtr">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="inputEmail" class="col-lg-2 control-label">Name</label>
                            <div class="col-lg-10" id="email-com">
                                <input type="text" class="form-control" id="inputEmail" placeholder="Name" ng-model="comment.sender">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Comment</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea" ng-model="comment.content"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" ng-click="commentCtr.sendComment(comment, post.currentPost.objectId)">Submit</button>
                </form>
            </div>
            <!-- Posted Comments -->
            <!-- Comment -->
            <div class="media" ng-repeat="comment in post.currentPost.Comments">
                <a class="pull-left" href="#">
                    <img class="media-object" src="{{comment.sender.img || '../css/img/comments/avatar.jpg'}}" alt="" width="56">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{comment.sender}}
                        <small>{{comment.date.iso | date:"dd MMMM yyyy 'at' H:mm"}}</small>
                    </h4>
                    {{comment.content}}
                </div>
            </div>
        </footer>
    </article>
</main>
<div id="sidebar" class="col-md-3" sidebar>  
</div>
