<main id="posts" class="col-md-9" ng-controller="BlogController as post">
    <!-- Blog Post -->
    <img id="myLoader" src="../css/img/slider/loading.gif" ng-show="post.loading" />
    <article class="post" ng-hide="post.loading">
        <header>
            <!-- Preview Image -->
            <div class="post-thumbnail">
                <img src="{{post.currentPost.img}}" class="post-thumb" alt="Post image" width="220" height="225">
                <span class="post-overlay"></span>
            </div>
        </header>
        <!-- Post Content -->
        <p>{{post.currentPost.desc}}</p>
        <footer id="comment-form">
            <!-- Blog Comments -->
            <!-- Comments Form -->
            <div class="well">
                <h4>Leave a Comment:</h4>
                <form ng-controller="CommentController as commentCtr">
                    <div class="form-group">
                        <div class="form-group">
                            <label for="textArea" class="col-lg-2 control-label">Comment</label>
                            <div class="col-lg-10">
                                <textarea class="form-control" rows="3" id="textArea" ng-model="comment.content"></textarea>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-success" ng-click="commentCtr.sendComment(comment, post.currentPost.objectId)">Submit</button>
                </form>
            </div>
            <!-- Posted Comments -->
            <!-- Comment -->
            <h3>{{post.currentPost.Comments.length || '0'}} Comments</h3>
            <div class="media" ng-repeat="comment in post.currentPost.Comments track by $index">
                <a class="pull-left" href="#" style="width: 80px; text-align: center;">
                    <img class="media-object" src="{{comment.img}}" alt="" width="56">
                    <small>{{comment.date.iso | date:"dd MMM yyyy 'at' H:mm"}}</small>
                </a>
                <div class="media-body row">
                    <div class="comment">
                        <div class="comment-bottom">
                            <div class="comment-content">
                                <h4 class="media-heading">
                                    {{comment.sender}} says:
                                </h4>
                                {{comment.content}}
                                <a class="reply-comment btn btn-success" href="#" ng-click="haveReply=!haveReply">Reply</a>
                            </div>
                        </div>
                    </div>
                    <div class="comment-arow"></div>
                    <!-- Send Reply -->
                    <div class="well" ng-show="haveReply">
                        <h4>Reply of {{comment.sender}}'s comment:</h4>
                        <form ng-controller="CommentController as commentCtr">
                            <div class="form-group">
                                <div class="form-group">
                                    <label for="textArea" class="col-lg-2 control-label">Comment</label>
                                    <div class="col-lg-10">
                                        <textarea class="form-control" rows="3" id="textArea" ng-model="reply.content"></textarea>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-success" ng-click="commentCtr.replyComment(reply, post.currentPost.objectId, $index)">Submit</button>
                        </form>
                    </div>
                    <!-- Reply -->
                    <div class="reply" ng-repeat="reply in comment.reply | limitTo: 5" ng-show="comment.reply">
                        <a class="pull-left" href="#" style="width: 80px; text-align: center;">
                            <img class="media-object" src="{{reply.img}}" alt="" width="56">
                            <small>{{reply.date.iso | date:"dd MMM yyyy 'at' H:mm"}}</small>
                        </a>
                        <div class="reply-bottom">
                            <div class="reply-content">
                                <h4 class="media-heading">
                                    {{reply.sender}} says:
                                </h4>
                                {{reply.content}}
                                <a class="reply-comment btn btn-success" href="#" ng-click="haveReply=!haveReply">Reply</a>
                            </div>
                        </div>
                        <div class="reply-arow"></div>
                    </div>
                </div>
            </div>
        </footer>
    </article>
</main>
<div id="sidebar" class="col-md-3" sidebar>
</div>