<h4>Recent Post</h4>
<div class="widget">
    <div class="widget-bottom">
        <div class="widget-content">
            <ul>
                <li ng-repeat="post in vm.posts | filter:vm.query | orderBy:vm.orderProp">
                    <a href="/post/{{post.objectId}}">{{post.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<h4>Recent Comments</h4>
<div class="widget">
    <div class="widget-bottom">
        <div class="widget-content">
            <ul>
                <li ng-repeat="post in vm.posts | orderBy:vm.orderProp">
                    <span>
                        <a href="#">Mariq</a>
                    </span> on
                    <a href="/post/{{post.objectId}}">{{post.title}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<h4>Meta</h4>
<div class="widget">
    <div class="widget-bottom">
        <div class="widget-content">
            <ul>
                <li><a href="/login">Log in</a></li>
                <li><a href="#">Entries RSS</a></li>
                <li><a href="#">Comments RSS</a></li>
            </ul>
        </div>
    </div>
</div>