<ul ng-controller="BlogController as blog" id="widgets" class="row">
    <li>
        <h4>Recent Post</h4>
        <div class="widget">
            <div class="widget-bottom">
                <div class="widget-content">
                    <ul>
                        <li ng-repeat="post in blog.posts | orderBy: blog.orderPost | limitTo:blog.sidebarPostLimit">
                            <a href="/post/{{post.objectId}}">{{post.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li>
        <h4>Recent Comments</h4>
        <div class="widget">
            <div class="widget-bottom">
                <div class="widget-content">
                    <ul>
                        <li ng-repeat="post in blog.comments | orderBy:blog.orderComment | limitTo:blog.sidebarCommentLimit" ng-show="post.Comments[0]">
                            <span>
                                <a href="/post/{{post.objectId}}">{{post.Comments[post.Comments.length-1].sender}}</a>
                            </span>
                            on <a href="/post/{{post.objectId}}">{{post.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li ng-controller="LoginController as login" ng-show="login.currentUser">
        <h4>Meta</h4>
        <div class="widget">
            <div class="widget-bottom">
                <div class="widget-content">
                    <ul>
                        <li><a href="/post/add">Add post</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
    <li ng-controller="LoginController as login" ng-hide="login.currentUser">
        <h4>Meta</h4>
        <div class="widget">
            <div class="widget-bottom">
                <div class="widget-content">
                    <ul>
                        <li><a href="/login">Log in</a></li>
                        <li><a href="#">Entries RSS</a></li>
                        <li><a href="#">Comments RSS</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>

