.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-testimonials-bottom {
    width: 259px;
    height: 32px;
    background-position: -5px -5px;
}

.sprite-testimonials-content-bg {
    width: 259px;
    height: 1px;
    background-position: -5px -47px;
}

.sprite-testimonials-top {
    width: 259px;
    height: 9px;
    background-position: -5px -58px;
}
